table{
    background-color: bisque;
    border: 1px;
    border-style: solid;
}

thead{
    text-align: center;
    text-shadow: 1px;
    color: blue;
}

td{
    border: 1px;
    border-style: solid;
}

.rectangle{
    width: 100px;
    height: 100px;
    background-color: brown;
}